{% schema %}
{
  "name": "Custom Renewal",
  "settings": [
    {
      "type": "text",
      "id": "block_title_1",
      "label": "Block 1 Title",
      "default": "Title 1"
    },
    {
      "type": "textarea",
      "id": "block_paragraph_1",
      "label": "Block 1 Paragraph",
      "default": "Paragraph 1"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Select Product",
      "settings": [
        {
          "type": "text",
          "id": "block_title_1",
          "label": "Block 1 Title",
          "default": "Title 1"
        },
        {
          "type": "textarea",
          "id": "block_paragraph_1",
          "label": "Block 1 Paragraph",
          "default": "Paragraph 1"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Renewal"
    }
  ]
}
{% endschema %}

<style>
  .container-1 {
    padding: 0px 40px;
    max-width: 1138px;
    margin: 20px auto;
  }
  .container {
    width: 70%;
  }
  .container-1 h1 {
    color: #3d8f61;

    leading-trim: both;

    text-edge: cap;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  .container-1 h2 {
    color: #023811;

    leading-trim: both;

    text-edge: cap;
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: 120%;
    margin: 47px 0px;
  }
  .block {
    display: flex;
    padding: 30px 0px;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    border-bottom: 1px solid rgba(216, 201, 179, 0.3);
  }

  .img-box {
    display: flex;
    width: 130px;
    height: 130px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 80px;
    background: #f9f3eb;
  }

  .block .content {
    padding: 0px 20px 0px 0px;
  }

  .block h2 {
    color: #023811;
    margin: 0px;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Inter', sans-serif;
    font-size: 27px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }

  .block p {
    color: #023811;
    margin: 0px;
    leading-trim: both;

    text-edge: cap;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
  }

  .full-height {
    height: 100%; /* Adjust as needed */
    background-color: #f5f5f5; /* Change to desired background color */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .full-height h2 {
    font-size: 36px;
    color: #333;
  }
  .section {
    display: flex;
    width: 100%;
    align-content: center;
  }
  .side-image-class {
    width: 30%;
    padding: 30px 10px;
    margin: 0px auto;
    overflow: hidden;
    /* height:770px; */
  }
  .side-image-class img {
    border-radius: 20px;
    margin: 0px auto;
    width: 100%; /* Set the width to 100% to make the image responsive */
    height: 100%;
  }

  @media (max-width: 576px) {
    .side-image-class img {
      height: 440px;
      padding-bottom: 30px;
    }
    .side-image-class {
      width: 100%;
      height: 440px;
    }
    .container-1 h1 {
      font-size: 14px;
    }
    .container-1 h2 {
      font-size: 30px;
      margin: 20px 0px;
      text-align: center;
    }

    .content {
      text-align: center;
    }
    .content p {
      font-size: 21px;
    }
    .content h2 {
      font-size: 28px;
    }
    .section {
      display: block;
      width: 100%;
    }
    .container {
      width: 100%;
    }
    .container-1 {
      padding: 0px 20px;
    }
    .block {
      display: flex;
      flex-direction: column;
      gap: 0;
    }
    .block img {
      margin-bottom: 10px;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 960px) {
    .section {
      flex-direction: column;
      flex-flow: column-reverse;
      width: 100%;
    }
    .container-1 .h-11,
    .h-12 {
      margin: 0px;
      text-align: center;
    }
    .container {
      width: 100%;
    }
    .side-image-class {
      width: 100%;
      padding: 30px 10px;
      margin: auto;
    }

    .side-image-class img {
      display: flex;
      height: 440px;
      width: 400px;
      margin: auto;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 1100px) {
    .section {
      display: flex;
      width: 100%;
      gap: 47px 61px;
    }
    .container-1 {
      padding: 150px 0px;
    }
    .container {
      width: 70%;
    }

    .side-image-class img {
      max-width: 336px;
      height: 770px;
    }
  }
</style>

<div class="container-1">
  <h1 class="h-11">Embrace Renewal with Every Sip</h1>
  <h2 class="h-12">What Makes Daily Daisy™ Unique?</h2>

  <div class="section">
    <div class="container">
      {% for block in section.blocks %}
        <div class="block">
          <div class="img-box">
            <img
              src="{{ block.settings.image | img_url: 'large' }}"
              alt="{{ block.settings.block_title_1 }}"
              width="82px"
              height="70px"
            >
          </div>
          <div class="content">
            {% if block.settings.block_title_1 %}
              <h2>{{ block.settings.block_title_1 }}</h2>
            {% endif %}
            {% if block.settings.block_paragraph_1 %}
              <p>{{ block.settings.block_paragraph_1 }}</p>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="side-image-class">
      <img
        src="https://cdn.shopify.com/s/files/1/0686/7360/1787/files/Rectangle_5.png?v=1711038594"
        alt="Description of the image"
        width="100%"
        height="100%"
      >
    </div>
  </div>
</div>
