



{% schema %}
{
  "name": "Custom Speces",
  "settings": [
    {
      "type": "text",
      "id": "speces_label",
      "label": "Speces Title"
    },
    {
        "type": "text",
        "id": "speces_value",
        "label": "Speces Title"
    }
  ],
  "presets": [
    {
      "name": "Custom Speces",
      "category": "Speces",
      "settings": {
        "speces_label": "",
        "speces_value": ""
      }
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Speces",
      "settings": [
        {
          "type": "text",
          "id": "speces_label",
          "label": "Speces Title"
        },
        {
            "type": "text",
            "id": "speces_value",
            "label": "Speces Title"
        }
      ]
    }
  ]
}
{% endschema %}

<style>
   .speces{
    border-bottom:2px solid #efefef;
    width:300px;
}
.custom-Specess{
    padding:40px;
}
</style>


<div class="custom-Specess">
   
        <h2>Product Specifications</h2>
   
    <ul>  
        {%- for block in section.blocks -%}
            <li class="speces">
                <p>{{ block.settings.speces_label}}  {{ block.settings.speces_value }}</p>
            </li>
            
        {% endfor %}
    </ul>
</div>
