

<style>
  .footer-columns {
  display: flex;
}

.footer-column {
  flex: 1;
  padding: 10px;
}
</style>


<div class="footer-columns">
  <div class="footer-column">
    <h4>Column 1</h4>
    <ul>
      <li>Link 1</li>
      <li>Link 2</li>
      <li>Link 3</li>
    </ul>
  </div>
  <div class="footer-column">
    <h4>Column 2</h4>
    <ul>
      <li>Link 4</li>
      <li>Link 5</li>
      <li>Link 6</li>
    </ul>
  </div>
  <div class="footer-column">
    <h4>Column 3</h4>
    <ul>
      <li>Link 7</li>
      <li>Link 8</li>
      <li>Link 9</li>
    </ul>
  </div>
</div>


{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "blocks": [
  {
    "type": "button",
    "name": "Button",
    "settings": [
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ]
  },
  {
    "type": "image",
    "name": "Image slide",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
],
     "presets": [
    {
      "name": "multi-section"
    }
  ]
  }
{% endschema %}