<style>
    .scrolling-logo {
        overflow: hidden;
        white-space: nowrap;
    }
    
    .logo-item {
        display: inline-block;
        margin-right: 20px; /* Adjust spacing between logos */
        animation: scrollLeft 15s linear infinite; /* Adjust animation speed as needed */
    }
    
    .logo-item:hover {
        animation-play-state: paused; /* Pause animation on hover */
    }
    
    /* Resume animation on mouse out */
    .logo-item:hover + .logo-item,
    .scrolling-logo:hover .logo-item {
        animation-play-state: running;
    }
    
    @keyframes scrollLeft {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-100%);
        }
    }
    
</style>
<div class="scrolling-logo">
    {% for logo in section.blocks %}
        {% if settings.logo_image != blank %}
            <img src="{{ logo | image_url: 'medium' }}" alt="Logo" class="logo-item" width="" height="">
          {% endif %}
          
    {% endfor %}
</div>
{% schema %}
{
    "name": "Scrolling Logo",
    "settings": [
      {
        "type": "header",
        "content": "Logo Settings"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Upload Logo",
        "info": "Recommended size: 300x100 pixels"
      }
    ],
    "blocks": [
        {
          "type": "block",
          "name": "Logo",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            }
          ]
        }
      ], 
      "presets": [
        {
          "name": "Scrolling Logo"
        }
      ]  
  }
  
{% endschema %}