
<style>
    .slider-container {
        overflow: hidden;

    }
    
    .slider-wrapper {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
    }
    
    .logo-list {
        display: flex;

        padding: 0;
        margin: 0;
        list-style-type: none;
    }
    
    .logo-item {
        flex-shrink: 0;
        margin-right: 20px; /* Space between logos */
        scroll-snap-align: start;
    }
    
    /* Optional: Hide scrollbar */
    .slider-wrapper::-webkit-scrollbar {
        display: none;
    }
 
        
</style>
<div class="slider-container">
    <div class="slider-wrapper">
        <ul class="logo-list">
            {% for block in section.blocks %}
                <li class="logo-item">
                    <img 
                        src="{{ block.settings.logo_image | image_url }}"
                        alt="Hello"
                        width=""
                        height=""
                    >
                </li>
            {% endfor %}
        </ul>
    </div>
</div>




{% schema %}
    {
        "name": "Logo Slider",
        "class": "logo_class",
        "settings": [
            {
                "type": "text",
                "id":"logo_text",
                "label": "Text Label",
                "default":"Text"
            },
            {
                "type": "image_picker",
                "id": "logo_image",
                "label": "Logo Image"
            }
        ],
        "blocks": [
            {
                "type": "logo_slider",
                "name":"Logo",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "logo_image",
                        "label": "Logo Image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Logo Slider",
                "settings": {}
            }
        ]   
    }
{% endschema %}
