<div>
    <div>
        <div>
            <ul>
                {% assign logos = section.settings.logo_image %}
                {% for block in logos %}
                       <img 
                        src="{{ block.logo_image | image_url }}"
                        alt="{{ block.logo_text }}"
                        width="100%"
                        height="400px"
                        >
                            Hello           
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Logo Slider",
        "class": "logo_class",
        "settings": [
            {
                "type": "text",
                "id":"logo_text",
                "label": "Text Label",
                "default":"Text"
            },
            {
                "type": "image_picker",
                "id": "logo_image",
                "label": "Logo Image"
            }
        ],
        "blocks": [
            {
                "type": "logo_slider",
                "name":"Logo",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "logo_image",
                        "label": "Logo Image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Logo Slider",
                "settings": {}
            }
        ]   
    }
{% endschema %}