<style>
    body {
        min-height: 100vh;
      }
      .slider {
        height: 60px;
        position: relative;
        width: 100%;
      
        display: grid;
        place-items: center;
        overflow: hidden;
      }
      .slider::before,
      .slider::after{
        position:absolute;
        background-image:linear-gradient(to right,rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        content:'';
        height:100%;
        width:25%;
        z-index:2;
        pointer-events:none;
      }
      .slider::before{
        left:0;
        top:0;
      }
      .slider::after{
        right:0;
        top:0;
        transform:rotateZ(180deg);
      }
      
      /*  IMPORTANT CODE BELOW */
      
      .slide-track {
        width: calc(150px* 20);
        display: flex;
        animation: scroll 15s linear infinite;
        justify-content: space-between;
      }
      
      
      
      .slide {
        width: 150px;
        height: 60px;
      
        display: grid;
        place-items: center;
        transition:0.5s;
        cursor:pointer;
      }
      .slide:hover{
        transform:scale(0.8)
      }
      
      @keyframes scroll {
        0% {
          transform: translateX(0px);
        }
        100% {
          transform: translateX(calc(-130px * 10));
        }
      }
      
      
      @media screen and (max-width: 768px) {
        .slide-track {
          width: calc(100px * 20);
        }
      
        .slide {
          width: 100px;
        }
      
        @keyframes scroll {
          0% {
            transform: translateX(0px);
          }
          100% {
            transform: translateX(calc(-80px * 10));
          }
        }
      }
      
    
</style>
Trusted By

<body class="container mx-auto px-4 sm:px-12 py-8">
 
  <div class="slider">
    <div class="slide-track">
        {% for block in section.blocks %}
            <div class="slide bg-red-500">
                <img src="{{ block.settings.logo_image | image_url }}" alt="Logo" class="logo-item" width="140px" height="40px">
            </div>
        {% endfor %}
        {% for block in section.blocks %}
            <div class="slide bg-red-500">
                <img src="{{ block.settings.logo_image | image_url }}" alt="Logo" class="logo-item" width="140px" height="40px">
            </div>
        {% endfor %}
        {% for block in section.blocks %}
            <div class="slide bg-red-500">
                <img src="{{ block.settings.logo_image | image_url }}" alt="Logo" class="logo-item" width="140px" height="40px">
            </div>
        {% endfor %}
        
    
    </div>
  </div>

 
</body>
{% schema %}
{
    "name": "Scrolling Logo",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Upload Logo",
        "info": "Recommended size: 300x100 pixels"
      }
    ],
    "blocks": [
        {
          "type": "block",
          "name": "Logo",
          "settings": [
            {
              "type": "image_picker",
              "id": "logo_image",
              "label": "Image"
            }
          ]
        }
      ], 
      "presets": [
        {
          "name": "Scrolling Logo"
        }
      ]  
  }
  
{% endschema %}