<div>
    <div>
        <div>
            <ul>
                {% for i in ..2 %}
                    hello        
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% schema %}
    {
        "name": "Logo Slider",
        "class": "logo_class",
        "settings": [
            {
                "type": "text",
                "id":"logo_text",
                "label": "Text Label",
                "default":"Text"
            }
        ],
        "presets": [
            {
                "name": "Logo Slider",
                "settings": {}
            }
        ]   
    }
{% endschema %}